Repository 106-inc/sim2022, pull requests merged in 2022-12, with the labels that each got.

#45 By segment loading
  .gitignore
  include/elfloader/elfloader.hh
  include/memory/memory.hh
  src/elfloader/elfloader.cc
  src/hart/hart.cc
  test/unit/CMakeLists.txt
  test/unit/elfloader/elfloader.cc
  test/unit/executor/M.cc
  test/unit/executor/RV32I.cc
  test/unit/executor/executor_test.hh
  test/unit/memory/memory.test.cc
  test/unit/test_footer.hh
  tools/simulator/main.cc
Labels: bug, Critical, Hart, Elfloader

#47 Add basic block execution
  include/common/inst.hh
  include/common/state.hh
  include/executor/executor.hh
  include/hart/hart.hh
  src/decoder/decoder.py
  src/executor/executor.cc
  src/hart/hart.cc
  test/unit/executor/RV32I.cc
Labels: enhancement, Critical, Hart

#61 Add python version checking
  CMakeLists.txt
Labels: Minor, infra

#62 LOC & badges
  .github/workflows/loc.yml
  README.md
Labels: documentation, enhancement, Minor
